html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;

}

/* .footer {
    flex-shrink: 0;
    padding: 20px;
}
 */
button:focus {
    outline: 0;
}

.html-post img {
    height: auto !important;
}

/*Album View*/
.masonry {
    columns: 5 200px;
    column-gap: 0.5rem;
    .item {
        width: 150px;
        margin: 0 0.5rem 0.5rem 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: system-ui;
        font-weight: 900;
        font-size: 2rem;
    }
    @for $i from 1 through 36 {
        .item:nth-child(#{$i}) {
            $h: (random(400) + 100) + px;
            height: auto;
            line-height: $h;
        }
    }
}

.my-gallery {
    columns: 5 200px;
    column-gap: 0.6rem;
    figure {
        width: 150px;
        margin: 0 0.25rem 0.25rem 0;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: system-ui;
        font-weight: 900;
        font-size: 2rem;
    }
    @for $i from 1 through 36 {
        figure:nth-child(#{$i}) {
            $h: (random(400) + 100) + px;
            height: auto;
            line-height: $h;
        }
    }
}

/*Album View END*/

/*STORY VIEW*/

/* #toggle-order {
    border: none;
    color: theme("colors.bb-charcole");
    padding: 5px 10px;
    font-size: 1.125rem;
    cursor: pointer;
    border: 1px solid theme("colors.bb-charcole");
    &:hover {
        color: theme("colors.bb-lighter");
        .ico-sort {
            background: url("/images/history-light.svg") no-repeat top left;
            background-size: contain;
            cursor: pointer;
            display: inline-block;
            height: 22px;
            width: 22px;
            vertical-align: sub;
        }
    }
    .ico-sort {
        background: url("/images/history-dark.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 22px;
        width: 22px;
        vertical-align: sub;
    }
} */
/* #subscribe {
    .ico-newsletter {
        background: url("/images/mail-dark.svg") no-repeat top left;
        background-size: contain;
        cursor: pointer;
        display: inline-block;
        height: 22px;
        width: 22px;
        vertical-align: sub;
    }
    &:hover {
        .ico-newsletter {
            background: url("/images/mail-light.svg") no-repeat top left;
            background-size: contain;
            cursor: pointer;
            display: inline-block;
            height: 22px;
            width: 22px;
            vertical-align: sub;
        }
    }
} */
/*STORY VIEW END*/

.square-opacity {
    background: rgb(0, 0, 0, 0.3);
}

.translate-x-50 {
    transform: translateX(-50%);
}

.translate-y-50 {
    transform: translateY(50%);
}

.translate-y-25 {
    transform: translateY(25%);
}

.trans-05 {
    transition: 0.5s;
}

.trans-max-h-05 {
    transition: max-height 1s;
}

.anaglyph {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: none;
    color: #333333;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 3px;
    text-shadow: -3px 0 1px #1ef2f1, 3px 0 1px #f6050a;
}

/*LAZYLOAD IMAGE BLUR*/
img[lazy="loading"] {
    filter: blur(25px);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

img[lazy="loaded"] {
    filter: blur(0);
    transition: filter 0.5s 0.5s ease-in-out;
}

/*VUE TRANSITION CLASSES*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
